<!DOCTYPE html>
<html>
  <head>
    <title>Web Developer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" ><br></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" href="#">SIGN UP</a>
      </li>
      <li>
        <a class="nav-link" href="#">LOGIN</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


  <div class ="container">
  <div class="row">
   <div class="col-sm-8"> 
    <%= yield %>
   </div> 

    <div class="col-sm-4">
    <div class="sidebar">
    <%= image_tag("books.jpeg", width: '140px') %>
    <h5 class="margin">&nbsp; Other Topics:</h5>
    <div class="btn-group-vertical btn btn-primary btn-lg" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-secondary btn btn-primary btn-lg"><a href="https://www.oracle.com/java/index.html" target="_blank">Java</a></button>
  <button type="button" class="btn btn-secondary btn btn-primary btn-lg"><a href="https://www.python.org" target="_blank">Python</a></button>
    </div> 
    </div>
    </div>
  </body>
</html>
